@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

#header {
  background-color: #FFFFFF;
}

h1 {
  font-size: 50px;
  color: #800080;
  display: inline;
}

.role {
  font-style: italic;
}

img {
  padding: 10px;
  max-width: 100%;
}

.biopic {
  float: right;
  width: 80px;
  border-radius: 60px;
  margin: 30px 0 0;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  display: inline;
  padding: 0 30px 0 0;
  font-weight: bold;
  color: #909090;
}

.contact-mode {
  color: #23C5F5;
  font-weight: normal;
  display: inline;
}

.welcome-message {
  font-style: italic;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.fontawesome {
  display: inline-block;
  padding: 10px 5px 0 5px;
  color: #909090;
  font-size: 23px;
}

#workExperience, #projects, #education {
  background-color: rgb(244, 244, 244);
  clear: both;
  margin: 0 70px 10px;
  padding: 10px 0;
  border-radius: 20px;
}

.education-entry, .work-entry, .project-entry, .online-entry {
  padding: 0 5%;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #800080;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h2, h3 {
  padding: 10px 5% 0;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  padding: 5px 0;
  text-align: justify;
}

.inline-p {
  display: inline;
}

a {
  color: #23C5F5;
  text-decoration: none;
  margin: 10px 0 0;
  display: block;
}

a:hover {
  color: #800080;
  text-decoration: underline;
}

#employer {
  margin: 10px 0 0;
  color: rgb(35, 197, 245);
}

.inline-links {
  display: inline-block;
}

.projectpic {
  width: 300px;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
  border-radius: 20px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 0 0 5%;
}

#footerContacts {
  font-size: 14px;
}

.footer {
  color: #FFFFFF;
  background-color: #800080;
  text-align: center;
  font-size: 18px;
  padding: 2px
}

.footer-icon {
  font-size: 14px;
  margin: 0;
  color: #800080;
}

.internationalize-button {
  text-align: center;
  padding: 5px 0 0;
}

button {
  background-color: #FFFFFF;
  border-style: solid;
  border-color: rgb(144, 144, 144);
  border-radius: 15px;
  padding: 2px;
  color: #800080;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5% 0.5%;
}

span {
  padding: 5px;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin: 36px 0 0;
  }
}

@media only screen and (max-width: 900px) {
  #workExperience, #projects, #education {
    margin: 0 45px 5px;
  }
}

@media only screen and (max-width: 800px) {
  #workExperience, #projects, #education {
    margin: 5px;
  }
  #map {
    margin: 0 5px 5px;
  }
  #topContacts {
    display: none;
    margin: 0
  }
  .biopic {
    width: 80px;
    display: none;
  }
  .welcome-message {
    display: none;
  }
  #h3-skills {
    display: none;
  }
  #skills {
    display: none;
  }
  #header-hr {
    display: none;
  }
  .footer-contact {
    display: none;
  }
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 40px;
    display: block;
  }
}